.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #DC983C;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homepage-text-field {
  margin-top: 20px !important;
  width: 25%
}

.homepage-button {
  margin: 20px !important;
  background-color: #DC983C !important;
  color: #fff !important;
}

.App .form-control {
  min-width: 120px;
  margin: 5px;
}